.left{
  /*width: 20%;*/
  width: 200px;
  height: 500px;
  float: left;
  background: #CCC;
}
.right{
  /*width: 80%;*/
  width: 600px;
  height: 500px;
  float: right;
  background-color: #DDD;
}
.main{
  width: 800px;
  margin: 0 auto;
}
