*{margin: 0;padding: 0}
.clear{
  clear: both;
}
#wrap{
  margin: 0 auto;
  width: 960px;
  background-color: #ccc;
}
#header{
  width: 100%;
  background-color: red;
}
#mainbody{
  background-color: blue;
  width: 100%;
  overflow: hidden;
}
#left{
  width: 800px;
  height: 800px;
  background-color: #00e;
  float: left;
}
#right{
  width: 150px;
  height: 800px;
  background-color: #00d;
  float: right;
}
#footer{
  width: 100%;
  background-color: green;
}
